.date-event{
	font-weight: bolder;
	color: red;
}

.date-selected{
	background-color: orange;
	border-radius: 10%;
}

.date-cell{
	cursor: pointer; 
	text-align: center;
	vertical-align: center;
}

.calendar-cell{
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}